build
target
.idea/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/*.mode1v3
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
.DS_Store
Build.plist
*.xcsettings
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xccheckout
Pods/*
*.orig
*.moved-aside
*.swp
DerivedData/
*.mode2v3
*.mode1v3
*.perspectivev3
Podfile.lock


